<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="test">
       <!-- <h1 v-if="status">True Statement</h1>
       <h1 v-else>False statement</h1> -->

       <h1 v-if="word== 'A'">This is A</h1>
       <h1 v-else-if="word=='B'">This is B</h1>
       <h1 v-else-if="word== 'C'">This is C</h1>
       <h1 v-else>This is D</h1>

       <h3 v-show="status">OK</h3>
       
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script>
    let hi = new Vue({
        el:"#test",
        data:{
            status:true,
            word: 'C',
            }
    })
</script>
</html>