<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            color: thistle
        }
    </style>
</head>

<body>
    <div id="app">
       <h1>looping</h1>

      <!-- <ul>
        <li v-for="(item,index) in numbers">{{item}} || {{index}}</li>

      </ul> -->
      <!-- <ul>
        <li v-for="hi in items" :key="hi.itemMsg">
            {{hi.id}} 
            {{hi.itemMsg}}

        </li>
      </ul> -->
<table border="3 solid black">
    <thead>
        <th >ID</th>
        <th>Name</th>
        <th>Gender</th>
    </thead>
    <tbody>
        <tr v-for="detail in items" >
            <td>{{detail.id}}</td>
            <td>{{detail.name}}</td>
            <td>{{detail.gender}}</td>
        </tr>
    </tbody>
</table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            message: "",
            numbers:['one','two','three'],
            items:[
                {id:'1',name:'aye',gender:'female'},
                { id: '2', name: 'kyaw', gender: 'male' },
                { id: '3', name: 'bhone', gender: 'male' },
            ]
        },
        methods: {
         

        },

        computed: {
         
        }

    })
</script>

</html>