<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            color: thistle,
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- <h1>s</h1> -->
        <input type="text" name="" placeholder="enter task" v-model="note.name"><br>
        <small style="color:red" v-if="validationStatus.nameStatus">Need to fill this field</small><br>
        <input type="number" name="" placeholder="enter price" v-model="note.price"><br>
        <small style="color:red" v-if="validationStatus.priceStatus">Need to fill this field</small><br>
         <button type="submit" @click="create()">Add</button>
        <table border="1px solid red ">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </thead>
            <tbody>
                <tr v-for="detail in items">
                    <td>{{detail.id}}</td>
                    <td>{{detail.name}}</td>
                    <td>{{detail.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
          note:{
            name:'',
            price:''
          },
          items:[],
          validationStatus:{
            nameStatus: false,
            priceStatus:false,
          }
        },
        methods:{
           
            create()
            {
                 if (this.validationStatus.nameStatus==false  &&  this.validationStatus.priceStatus==false ) 
                {
                    this.items.push({
                         id: this.items.length + 1,
                         name: this.note.name,
                         price: this.note.price,
                     })
                     this.clear();
                  
                }
            },
            validationCheck(){
                 this.validationStatus.nameStatus = this.note.name == '' ? true : false;
                this.validationStatus.priceStatus = this.note.price == '' ? true : false;
            },
            clear(){
                 this.note.name = '';
                this.note.price = '';
                 this.validationStatus.nameStatus = false;
                this.validationStatus.priceStatus = false;
            }
        }
    })
</script>

</html>